.forms-body {
  margin-bottom: 60px;
}

.card-info {
  .card-text {

  }
  .card-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .card-description {
    margin-top: 0.75rem;
  }
  .card-button {
  }
}
