.forms-body {
  margin-bottom: 60px;
}

.card-info {
  .card-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #124e80;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .card-description {
    margin-top: 0.75rem;
  }
}
