<div [@routerTransition] class="forms-body">
	<app-page-header [heading]="'Form for creating news'" [icon]="'fa-edit'"></app-page-header>
	<div class="row">
		<div class="col-lg-6">
			<h4>Add new product to catalogue</h4>
			<form #addProductForm="ngForm" novalidate (ngSubmit)="addProduct(addProductForm)">
				<div class="form-group">
					<label>Enter manufacturer of product</label>
					<input class="form-control" name="manufacturer" [(ngModel)]="product.manufacturer"
					#productManufacturer="ngModel" placeholder="manufacturer" required/>
				</div>
				<div [hidden]="productManufacturer.valid || productManufacturer.untouched" class="alert alert-danger">
					Manufacturer doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter model name</label>
						<input class="form-control" name="model" [(ngModel)]="product.model"
						#productModel="ngModel" placeholder="model" />
					</div>
					<div [hidden]="productModel.valid || productModel.untouched" class="alert alert-danger">
						Model doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter picture path</label>
						<input class="form-control" name="picture" [(ngModel)]="product.picture"
						#productPicture="ngModel" placeholder="picture path" />
					</div>
					<div [hidden]="productPicture.valid || productPicture.untouched" class="alert alert-danger">
						Picture doesn't specify!
				</div>
				<div class="form-group input-group">
						<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">$</span>
						</div>
						<input class="form-control" name="price" [(ngModel)]="product.price" pattern="[0-9]{1,10}"
						#productPrice="ngModel" placeholder="price value" />
					</div>
					<div [hidden]="productPrice.valid || productPrice.untouched" class="alert alert-danger">
						Price doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter product description</label>
						<input class="form-control" name="description" [(ngModel)]="product.description"
						#productDescription="ngModel" placeholder="product description" />
					</div>
					<div [hidden]="productDescription.valid || productDescription.untouched" class="alert alert-danger">
						Description doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter diagonal value</label>
						<input class="form-control" name="diagonal" [(ngModel)]="product.diagonal" pattern="[0-9]{1,3}"
						#productDiagonal="ngModel" placeholder="diagonal" />
					</div>
					<div [hidden]="productDiagonal.valid || productDiagonal.untouched" class="alert alert-danger">
						Diagonal doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter type of matrix</label>
						<input class="form-control" name="typeOfMatrix" [(ngModel)]="product.typeOfMatrix"
						#productTypeOfMatrix="ngModel" placeholder="type of matrix" />
					</div>
					<div [hidden]="productTypeOfMatrix.valid || productTypeOfMatrix.untouched" class="alert alert-danger">
						Type of matrix doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter resolution value</label>
						<input class="form-control" name="resolution" [(ngModel)]="product.resolution"
						#productResolution="ngModel" placeholder="resolution value" />
					</div>
					<div [hidden]="productResolution.valid || productResolution.untouched" class="alert alert-danger">
						Resolution doesn't specify!
				</div>
				<div class="form-group">
						<label>Enter interface of ports</label>
						<input class="form-control" name="portInterface" [(ngModel)]="product.portInterface"
						#productPortInterface="ngModel" placeholder="interface of ports" />
					</div>
					<div [hidden]="productPortInterface.valid || productPortInterface.untouched" class="alert alert-danger">
						Ports doesn't specify!
				</div>
				<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="support3D" ng-model="checkboxModel.value1"
								[(ngModel)]="product.support3D"> Support 3D technology
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="available" ng-model="checkboxModel.value1"
								[(ngModel)]="product.available"> Availability
							</label>
						</div>
				</div>
				<button type="submit" class="btn btn-secondary" [disabled]="addProductForm.invalid">Submit Button</button>&nbsp;
				<button type="reset" class="btn btn-secondary">Reset Button</button>
			</form>
		</div>
	</div>
</div>
