<div [@routerTransition]>
    <h2 class="text-muted">Admin Panel <small>products statictics</small></h2>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Scheduling list
                </div>
                <app-timeline></app-timeline>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications
                </div>
            </div>
        </div>
    </div>
</div>
