.card-info {
  .card-text {
    font-size: 0.8rem;
  }
  .card-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .card-description {
    margin-top: 0.75rem;
  }
  .card-button {
    margin-bottom: 0.5rem;
  }
}
