<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Catalogue Admin Panel</h1>
      <form form [formGroup]="loginForm" novalidate>
        <div class="form-content">
          <div class="form-group">
            <input id="login" type="text" class="form-control input-underline input-lg" name="login" [(ngModel)]="login" formControlName="login" placeholder="{{ 'Login Name'}}" required/>
          </div>
          <div class="alert alert-danger"
            *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched">
            Login is required
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="password" name="password" placeholder="{{ 'Password'}}" [(ngModel)]="password" formControlName="password" />
          </div>
          <div class="alert alert-danger"
            *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Password is required
          </div>
        </div>
        <div class="alert alert-danger"
        *ngIf="!isUserDataCorrect">
          login or password are incorrect
      </div>
        <button type="submit" class="btn rounded-btn" (click)="onLoggedin()" [disabled]="loginForm.invalid" >{{ 'Log in'}}</button>
        &nbsp;
        <button class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register'}}</button>
      </form>

      <!-- <form [formGroup]="loginForm" novalidate>
        <div class="bd-highlight d-flex card" style="min-width: 400px;">
          <div class="mb-3 mt-4" >
            <div class="row no-gutters align-items-sm-start justify-content-center">
              <div class="col-md-5 mr-4">
                <div class="form-group">
                  <label>Login</label>
                  <input class="form-control" name="login" formControlName="login" placeholder="" />
                </div>
                <div class="alert alert-danger"
                  *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched">
                  Login doesn't specify!
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" name="password" formControlName="password" placeholder="" />
                </div>
                <div class="alert alert-danger"
                  *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                  Password doesn't specify!
                </div>

              </div>
            </div>
            <div class="row no-gutters align-items-sm-start justify-content-start ml-5 mt-5">
              <div class="form-group">
                <button type="submit" class="btn btn-primary mr-3" [disabled]="loginForm.invalid" (click)="changeSubmit()">Save</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
              </div>
            </div>
          </div>
        </div>

      </form> -->
    </div>
  </div>
</div>
